body {
    background-color: #000;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div#main_canvas_container {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

p {
	font-family: 'Rubik', sans-serif;
	color: #EBEBFF;
	
}

img.icon
{
	opacity: 0.3;

	— moz-transition: all 0.5s ease;
	— webkit-transition: all 0.5s ease;
	— o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

img.icon:hover
{
	opacity: 1.0;
}

div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 428px;
    height: 120px;
    margin-left: -214px;
    margin-top: -60px;
}
div#prelod_dynamic_path {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 120px;
	    margin: 0px;
	padding: 0px;
    background-image: url(../images/color.jpg);
	opacity:100;
}
div#preloader_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/bw.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}

span#loading_text {
	font-size: 20pt;
	font-family: 'Pattaya', sans-serif;
	position: absolute;
	color: #EBEBFF;
	margin-top: 130px;
	margin-left: 130px;
}

span#colorTitle{
	position: absolute;
	font-family: 'Pattaya', sans-serif;
	color: #EBEBFF;
}


